body, html {
    height: 100%;
    max-height: 570px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: Tahoma;
}

a {
    outline: 0;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.container-admin {
    top: 120px;
    right: 0;
    left: 0;
    text-align: left;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
}

.form-content {
    width: 100%;
}

.container-admin .top-bar {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #4790DC;
    opacity: 0.9;
    z-index: 99;
}

.container-admin .menu {
    list-style-type: none;
    padding: 5px;
}

.container-admin .menu li {
    display: inline-block;
    margin: 8px -2px;
}

.container-admin .menu li .no-click {
    pointer-events: none;
}

.container-admin .menu li a {
    background-color: #fff;
    color: #4790DC;
    padding: 10px;
}

.container-admin .menu li a:hover {
    background-color: #4790DC;
    color: #fff;
    border: 1px solid #fff;
}

#accounts, .locations {
    display: inline-block;
    width: 100%;
    min-width: 330px;
    max-width: 450px;
    height: 100%;
}

.locations select {
    display: block;
    width: 100%;
}

.form-content {
    width: 100%;
    height: 100%;
    display: block;
    float: none;
    position: relative;
    overflow: auto;
}

#input-map {
    height: 100%;
    min-height: 400px;
    width: 100%;
    min-width: 250px;
    clear: both;
}

input, textarea {
    width: 250px;
    padding: 4px;
}

input[type=text], input[type=password] {
    padding: 6px;
}

input[type=button], input[type=submit] {
    width: 265px;
}

select {
    padding: 6px;
}

label em {
    font-size: 12px;
}

#locations {
    height: 100%;
    max-height: 500px;
}

#locations option {
    padding: 3px 0;
}

#tel {
    width: 100px;
    padding: 6px;
}

#id {
    width: 35px;
    padding: 6px;
}

#address {
    width: 300px;
    padding: 6px;
}

#update-address {
    width: 215px;
}

#lat, #lng {
    width: 150px;
    padding: 6px;
}

#latlng {
    width: 80px;
}

.input-form {
    width: 100%;
    min-width: 200px;
    text-align: left;
    display: inline-block;
}

.input-form > div {
    margin: 0 12px;
}

.input-form > div div {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 12px 12px;
}

.input-form div label, .input-form div input {
    display: block;
}

.input-form .products div {
    width: 250px;
}

.input-form .products div label, .input-form .products div input {
    display: inline-block;
    width: 100px;
}

.input-form .submit {
    margin: 25px 12px;
}

.login {
    text-align: center;
    border: 1px dotted #00A3FF;
    margin: 80px auto;
    width: 30%;
    min-width: 300px;
}

.login div {
    text-align: center;
    margin: 40px;
}

.login input {
    margin: 0;
    width: 100%;
    max-width: 250px;
}

.login input[type=text], .login input[type=password] {
    width: 160px;
}

.search-title {
    font-family: Tahoma;
    font-size: 32px;
    font-weight: normal;
    color: #4790DC;
}

.container {
    height: 100%;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    min-width: 900px;
    text-align: center;
}

.spacing {
    height: 60px;
    width: 100%;
    min-width: 900px;
}

.spacing h3 {
    text-align: left;
    margin: 0 0 0 50px;
}

.search-controls {
    width: 100%;
    min-width: 900px;
    padding: 10px 0;
}

.search-controls img {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-right: 5px;
}

.container input[type=text]#clinic, .container input[type=text]#doctor, .container input[type=button] {
    width: 17% !important;
    min-width: 155px;
}

.container input[type=text]#addressInput {
    width: 27% !important;
    min-width: 252px;
}

.container select#radiusSelect {
    width: 8% !important;
    min-width: 75px;
    padding-left: 0;
}

.map-locations {
    height: 100%;
    width: 100%;
    min-width: 900px;
    padding: 10px 0 0;
}

.map-locations .locations {
    display: inline-block;
    height: 100%;
    width: 25%;
    min-width: 300px;
    padding: 0;
    margin: 0;
}

#locationSelect {
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-width: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #AAA;
    padding: 3px 0 0;
}

.map-container {
    display: inline-block;
    height: 100%;
    width: 59%;
    min-width: 400px;
    margin: 0;
    padding: 4px 0;
}

#map {
    height: 100%;
    width: 100%;
}

.option {
    width: 96%;
    margin: 0 0 0 6px;
    padding: 8px 0 1px 2px;
    border-bottom: 1px dashed #ccc;
}

.option h3 {
    text-align: left;
    color: #41B1A8;
    font-size: 18px;
    margin: 0;
}

.option h4 {
    text-align: justify;
    font-size: 14px;
    padding: 1px 0;
    margin: 0;
}

.option > p {
    text-align: justify;
    font-size: 13px;
    padding: 1px 0;
    margin: 0;
}

.option a {
    font-size: 14px;
    color: #4790DC;
    margin-left: 0 auto;
}

.selected-option {
    background-color: #E6F7FC;
    border: 1px dotted #4790DC;
}

.info-window {
    text-align: left;
    min-width: 220px;
    height: 100%;
}

.info-window h3 {
    margin: 0;
}

.info-window h4 {
    margin: 0;
}

.info-window > p {
}

.info-window > a {
}

@media (min-width: 673px) {	
    .input-form {
        top: 90px;
    }
}

@media (min-width: 870px) {
    .search-controls {
        margin: 0 auto;
    }

    .map-locations {
        margin: 0 auto;
    }

    #accounts, .locations {
        vertical-align: top;
    }
}

@media (min-width: 1024px) {
    .locations {
        width: 40%;
    }

    .input-form {
        width: 58%;
    }
    .container-admin {
        top: 105px;
    }
    .container-admin .menu {
        padding: 10px;
    }

    .container-admin .menu li {
        margin: 8px -2px;
    }

    .container-admin .menu li a {
        padding: 10px 40px;
    }
}

@media (min-width: 1099px) {
}

@media (min-width: 1275px) {
    .form-content {
        width: 73%;
        float: left;
    }

    #accounts, .locations {
        width: 40%;
    }

    #input-map {
        clear: none;
        width: 25%;
        display: inline-block;
        float: left;
    }
}