<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">app</directory>
      <directory suffix=".php">tests/Traits</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="APP_DEBUG" value="false"/>
    <env name="APP_ENV" value="testing"/>
    <env name="DB_CONNECTION" value="memory"/>
    <env name="FILESYSTEM_DRIVER" value="testing"/>
  </php>
</phpunit>
